    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Beküldött termékek</title>
    </head>
    <body>

        {% if products_ %}
        <h2>Bekuldott adat:</h2>
        <ul>
        {% for product in products_%}
            <li>{{ product }}</li>
        {%- endfor %}
        </ul>
        {% endif %}

        <a href="/products">Vissza a főoldalra</a>

    </body>
    </html>